/*---------------------------------*/
/*----------BASIC SETUP------------*/
/*---------------------------------*/

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	background-color: #fff;
	color: #6F1E51;
	font-family: 'Merriweather', serif, 'Arial';
	font-weight: 400;
	font-size: 20px;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
}

/*---------------------------------*/
/*------------REUSABLE-------------*/
/*---------------------------------*/

.row {
	max-width: 1140px;
	margin: 0 auto;
}

section {
	padding: 80px 0;
	background-color: #ededed;
}

.box {
	padding: 1%;
}

/*----Headings---*/

h1, h2 {
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 10px;
}

h1 {
	margin-top: 0;
	color: #fff;
	font-size: 250%;
	word-spacing: 3px;
	text-shadow: 2px 2px #000;
}

h2 {
	font-size: 180%;
	word-spacing: 2px;
	text-align: left;
	margin-left: 40px;
}

h3 {
	margin-left: 40px;
}

h3:after {
	display: block;
	height: 4px;
	background-color: #6F1E51;
	content: " ";
	width: 950px;
	margin-top: 20px;
}

/*----Paragraphs---*/

p.brief-blurb {
	margin: 40px 0 0 40px;
	line-height: 140%;
	width: 105%;
}

/*----Animations---*/


/*----Buttons---*/

.btn:link,
.btn:visited {
	display: inline-block;
	padding: 10px 10px;
	font-weight: 600;
	text-decoration: none;
	border-radius: 200px;
	-webkit-transition: background-color 0.2s, color 0.2s;
	transition: background-color 0.2s, color 0.2s;
}

.btn-ghost:link,
.btn-ghost:visited {
	border: 4px solid #6F1E51;
	color: #6F1E51;
	background-color: rgba(255, 255, 255, 0.6);
}

.btn:hover,
.btn:active {
	background-color: rgba(71, 19, 52, 0.6);
	color: #fff;
}

/*---------------------------------*/
/*-------------HEADER--------------*/
/*---------------------------------*/

header {
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.web-dev {
	font-style: italic;
	text-transform: none;
	font-size: 200%;
	text-shadow: 2px 2px #000;
}

.hero-text-box {
	position: absolute;
	width: 1140px;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 1;
}

header .crossfade > figure {
	-webkit-animation: imageAnimation 30s linear infinite 0s;
	animation: imageAnimation 30s linear infinite 0s;
	-webkit-backface-visibility:visible;
	backface-visibility:visible;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: rgba(202, 58, 149, 0.2);
	height: 100vh;
	opacity: 0;
	position: absolute;
	width: 100%; 
	z-index: 0;
}

.crossfade > figure:nth-child(1) {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(bg-images/elephant-art-min.jpg);
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(bg-images/elephant-art-min.jpg);
}

.crossfade > figure:nth-child(2) {
	-webkit-animation-delay: 6s;
	animation-delay: 6s;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(bg-images/stpauldevence-min.jpg);
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(bg-images/stpauldevence-min.jpg);
}

.crossfade > figure:nth-child(3) {
	-webkit-animation-delay: 12s;
	animation-delay: 12s;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(bg-images/graffiti2-min.jpg);
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(bg-images/graffiti2-min.jpg);
}

.crossfade > figure:nth-child(4) {
	-webkit-animation-delay: 18s;
	animation-delay: 18s;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(bg-images/einstein-love-min.jpg);
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(bg-images/einstein-love-min.jpg);
}

.crossfade > figure:nth-child(5) {
	-webkit-animation-delay: 24s;
	animation-delay: 24s;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(bg-images/ape-cigar-min.jpg);
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(bg-images/ape-cigar-min.jpg);
}

@-webkit-keyframes
imageAnimation { 0% {
	-webkit-animation-timing-function: ease-in;
	animation-timing-function: ease-in;
	opacity: 0;
	}
	5% {
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		opacity: 1;
	}
	19% {
		opacity: 1;
	}
	27% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes
imageAnimation { 0% {
	-webkit-animation-timing-function: ease-in;
	animation-timing-function: ease-in;
	opacity: 0;
	}
	5% {
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		opacity: 1;
	}
	19% {
		opacity: 1;
	}
	27% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

/*---------------------------------*/
/*-----------NAVIGATION------------*/
/*---------------------------------*/

/* Main-Nav */

.main-nav {
	float: right;
	list-style: none;
	margin-top: 50px;
	position: absolute;
	margin-left: 700px;
}

.main-nav li {
	display: inline-block;
	margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
	color: #fff;
	text-decoration: none;
	font-size: 110%;
}

.main-nav li a:hover,
.main-nav li a:active {
	color: #6F1E51;
	font-weight: 600;
	text-shadow: 2px 2px #000;
	-webkit-transition: color font-weight text-shadow 0.2s;
	transition: color font-weight text-shadow 0.2s;
}


/*---------------------------------*/
/*----------ABOUT Section----------*/
/*---------------------------------*/

.profile-pic {
	background-image: url(bg-images/smart4-min.jpg);
	height: 300px;
	width: 250px;
	background-size: cover;
	margin-top: 80px;
	border-radius: 50px;
	border: 5px solid #6F1E51;
	margin-left: 100px;
	opacity: 1;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.profile-pic:hover {
	background-image: url(bg-images/funny1-min.jpg);
	-webkit-transform: background-image 0.2s;
	transform: background-image 0.2s;
	opacity: 1;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

/*---------------------------------*/
/*--------Projects Section---------*/
/*---------------------------------*/

/*

Ideas:

2. Add the github loho perhaps to the github button

3. On information click, information about the project appears which spans the whole surface? Or have a brief blurb for each already underneath. Only display one at a time. 

*/

section.projects {
	background-color: #ededed;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.80)), to(rgba(0, 0, 0, 0.80))), url(bg-images/coffee-code.jpg);
	background-image: linear-gradient(rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.80)), url(bg-images/coffee-code.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: #fff;
}

.box img{
	width: 70%;
	height: 200px;
	border-radius: 20px;
	border: 3px solid #6F1E51;
	-webkit-transition: opacity 0.8s, -webkit-transform 0.8s;
	transition: opacity 0.8s, -webkit-transform 0.8s;
	transition: transform 0.8s, opacity 0.8s;
	transition: transform 0.8s, opacity 0.8s, -webkit-transform 0.8s;
	-webkit-transform: scale(1.10);
	transform: scale(1.10);
}

.box img:hover{
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
	opacity: 1;
}

h4 {
	padding-bottom: 20px;
	padding-left: 0;
	font-size: 90%;
}

section.projects button{
	margin-top: 20px;
}

section.projects p {
	padding-top: 20px;
	width: 90%;
}

.btn-project:link,
.btn-project:visited {
	border: 3px solid #6F1E51;
	color: #6F1E51;
	background-color: rgba(255, 255, 255, 0.6);
	margin-top: 15px;
}

.btn-project:hover,
.btn-project:active {
	background-color: rgba(71, 19, 52, 0.6);
	color: #fff;
}

.btn-project:link,
.btn-project:visited {
	padding: 5px 5px;
	text-decoration: none;
	border-radius: 10px;
	-webkit-transition: background-color 0.2s, color 0.2s;
	transition: background-color 0.2s, color 0.2s;
}

/*---------------------------------*/
/*--------Contact Section----------*/
/*---------------------------------*/

.details {
	padding-top: 60px;
}

.details li {
	padding-top: 10px;
	padding-left: 40px;
	list-style: none;
	
}

.details li:hover {
	font-size: 110%;
}

.details a {
	text-decoration: none;
	color: #6F1E51;
}

ion-icon{
	padding-right: 5px;
	font-size: 120%;
}

.map {
	width: 42%;
	height: 240px;
	float: right;
	margin-top: -260px;
	margin-right: 15%;
	border: 3px solid #6F1E51;
	border-radius: 20px;
}

/*---------------------------------*/
/*----------ANIMATIONS-------------*/
/*---------------------------------*/

.js--wp-projects1 {
	opacity: 0;
}

.js--wp-projects1 .animated {
	opacity: 1;
}

.js--wp-projects2 {
	opacity: 0;
}

.js--wp-projects2 .animated {
	opacity: 1;
}

.js--wp-blurb {
	opacity: 0;
}

.js--wp-blurb .animated {
	opacity: 1;
}

.js--wp-details {
	opacity: 0;
}

.js--wp-details .animated {
	opacity: 1;
}

/*---------------------------------*/
/*--------Footer-Section-----------*/
/*---------------------------------*/

.footer {
	display:grid;
	width: 100%;
}

footer {
	background-color: #6F1E51;
	padding: 10px;
	display: block;
	bottom: 0;
	position: static;
	width: 100%;
}

.footer-nav {
	list-style: none;
	float: left;
    padding: 0;
    position: absolute;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links a:link,
.social-links a:visited {
	text-decoration: none;
	color: #e8e8e8;
	font-size: 80%;
}

.social-links {
	list-style: none;
	float: right;
    color: #e8e8e8;
    margin-top: 10px;
}

.footer-nav li,
.social-links li {
	display: inline-block;
	margin-right: 20px;
    margin-top: 30px;
    font-size: 100%;
}

.copyright {
	color: #e8e8e8;
	margin-top: 20px;
	padding-bottom: 20px;
	margin-left: 35%;
	font-size: 80%;
}

.follow {
    font-size: 80%;
    margin-top: 20px;
}

ion-icon {
    font-size: 40px;
	margin-top: -20px;
	padding-top: 15px;
}

section.footer {
	padding: 0;
}



/*---------------------------------*/
/*---------RESPONSIVENESS----------*/
/*---------------------------------*/

@media only screen and (max-width: 1200px){
	.hero-text-box {
	width: 100%;
	padding: 0 5%;
}
	.row {
		padding: 0 2%;
	}
	.copyright {
		margin-left: 20%;
	}
	.map {
	margin-top: -250px;
	}
}

@media only screen and (max-width: 1023px){
	body {
		font-size: 18px;
	}
	section {
		padding: 60px 0;
	}
	.main-nav {
	position:relative;
	margin-left: 200px;
}
	.main-nav li {
	margin-left: 30px;
}
	h3 {
	margin-right: 50px;
}
	h3:after {
	width: 600px;
}
	p.brief-blurb {
	margin: 40px 0 0 40px;
	line-height: 120%;
	width: 90%;
}
	.profile-pic {
	height: 280px;
	width: 240px;
	margin-left: 30px;
	margin-top: 35px;
}
	.map {
	margin-top: -250px;
}
	
.box img{
	width: 90%;
}
}

@media only screen and (max-width: 767px){
	body {
		font-size: 16px;
	}
	.main-nav {
		margin-right: 5%;
	}
	
	header .crossfade > figure {
	-webkit-animation: imageAnimation 25s linear infinite 0s;
	animation: imageAnimation 25s linear infinite 0s;
}
	.crossfade > figure:nth-child(2) {
	-webkit-animation-delay: 5s;
	animation-delay: 5s;
}
	.crossfade > figure:nth-child(3) {
	-webkit-animation-delay: 10s;
	animation-delay: 10s;
}
	.crossfade > figure:nth-child(4) {
	-webkit-animation-delay: 15s;
	animation-delay: 15s;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(bg-images/polished-dog-min.jpg);
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(bg-images/polished-dog-min.jpg);
}
	.crossfade > figure:nth-child(5) {
	-webkit-animation-delay: 20s;
	animation-delay: 20s;
}
	h3 {
	margin-right: 10px;
}
	h3:after {
	width: 300px;
}
	.profile-pic {
	margin-left: 5%;
	float: left;
	position: absolute;
}
	p.brief-blurb {
	margin-left: 110%;
	line-height: 125%;
	width: 90%;
	float: left;
	position: relative;
}
	section.projects div.row .box {
		width: 50%;
		margin-left: 10%;
	}
	section.projects img {
		width: 70%;
		height: 170px;
	}
	.project-info {
	margin-left: 90%;
	width: 100%;
	margin-top: -77%;
	margin-bottom: 25%;
	margin-right: 10%;
}
	.map {
	width: 40%;
	height: 200px;
	margin-top: -180px;
	margin-right: 5%;
}
.social-links ion-icon {
    font-size: 30px;
}
}

@media only screen and (max-width: 675px){
	.copyright {
		margin-left: 10%;
	}
}

@media only screen and (max-width: 600px){
	p.brief-blurb {
		margin: 350px 0 0 50px;
		line-height: 125%;
		width: 125%;
		float: left;
		position: relative;
}
	.profile-pic {
		margin-left: 10%;
}
	section.projects img {
		width: 70%;
	}
	.project-info {
	width: 90%;
	margin-top: -95%;
}
	h4{
		padding-left: 0;
	}
	.map {
	display: none;
	}
	.details li {
	position: relative;
	}
	.details {
	margin-top: -30px;
}
}

@media only screen and (max-width: 550px){
	.main-nav {
		margin-right: 0%;
	}
	.details {
	width: 80%;
		margin-top: -50px;
}
	.project-info {
	margin-top: -105%;
}
}

@media only screen and (max-width: 530px){
	.main-nav {
		display: none;
	}
	section.projects img {
		width: 90%;
	}
	.project-info {
	margin: 0;
	width: 180%;
}
	h4{
		font-size: 110%;
	}
}

@media only screen and (max-width: 480px){
	.web-dev {
	opacity: 0.8;
}

.hero-text-box {
	opacity: 0.6;
}
	header .crossfade > figure {
	-webkit-animation: imageAnimation 20s linear infinite 0s;
	animation: imageAnimation 20s linear infinite 0s;
}
	.crossfade > figure:nth-child(2) {
	-webkit-animation-delay: 4s;
	animation-delay: 4s;
}
	.crossfade > figure:nth-child(3) {
	-webkit-animation-delay: 8s;
	animation-delay: 8s;
}
	.crossfade > figure:nth-child(4) {
	-webkit-animation-delay: 12s;
	animation-delay: 12s;
}
	.crossfade > figure:nth-child(5) {
	-webkit-animation-delay: 16s;
	animation-delay: 16s;
}
	p.brief-blurb {
	width: 80%;
}
	.profile-pic {
	margin-left: 15%;
}
	section.projects img {
	width: auto;
	height: 160px;
	}
	section.projects p {
		width: 90%;
	}
	.details {
	margin-top: -50px;
}
	h4 {
		padding-top: 20px;
	}
	.footer-nav{
		margin-left: 100px;
	}
	.social-links ion-icon {
		padding-top: 60px;
		padding-right: 50px;
	}
	.copyright{
		margin-left: 0;
	}
}
@media only screen and (max-width: 400px){
	.footer-nav{
		margin-left: 60px;
	}
	.social-links ion-icon {
		padding-top: 50px;
		padding-right: 50px;
	}
}

@media only screen and (max-width: 370px){
	.social-links{
		padding-right: 20px;
	}
}

@media only screen and (max-width: 370px){
	h3:after {
		width: 220px;
}
	.profile-pic {
	margin-left: 10%;
}
	.brief-blurb {
	padding-right: 10%;
}
	section.projects img{
		height: 150px;
		width: auto;
	}
	h4 {
		padding-top: 20px;
	}
	.social-links ion-icon {
		padding-right: 40px;
	}
}

@media only screen and (max-width: 330px){
	.social-links ion-icon {
		padding-right: 30px;
	}
	.footer-nav{
		margin-left: 40px;
	}
}











